body{
    background-color:#AA1112;
    font-family: Calibri;
    padding: 10px 20px;
}

h1 {
	color: #FFFFFF;
	background-color: #ffbd33;
	padding: 10px;
	border-radius:0 20px;
}

p {
	float: right;
}

img {
	width: 80%;
	display:block;
	margin:auto;
}

h2{
	color: white;
	text-align: center;
}

h3{
	color: white;
	text-align: center;
}


